.container-two-column {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, auto);
    gap: 1rem;
}

.day-title {
    padding: 4px 8px;
}

.day {
    /*min-height: 10rem;*/
    align-self: flex-start;
    justify-self: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 8px;
    color: #ffffff;
    background: #000000;
}

.day p {
    color: #ffffff;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.fullgroup-day {
    background-color: #ffb7c4;
}

.day-in-past {
    background: #cccccc;
}

table {
    --table-row-stripped-background-color: #1f2d38;
}

table th {
    font-weight: bold;
}

table tbody tr th {
    background: var(--background-color);
    position: sticky;
    left: 0;
}

table tbody tr:nth-child(2n+1) th {
    background: var(--table-row-stripped-background-color);
    position: sticky;
    left: 0;
}

.login article {
    padding: 0;
    overflow: hidden;
}

.login article div {
    padding: 1rem;
}

.login article div:nth-of-type(2) {
    background-color: #374956;
    background-image: url("/static/login.png");
    background-position: center;
    background-size: cover;
}

[data-msg] {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: var(--msg-background);
}

[data-msg=positive] {
    --msg-background: #d1e7dd;
}

[data-msg=negative] {
    --msg-background: #f8d7da;
}

[data-msg=info] {
    --msg-background: #cff4fc;
}

[data-theme=dark] [data-msg=positive] {
    --msg-background: #051b11;
}

[data-theme=dark] [data-msg=negative] {
    --msg-background: #2c0b0e;
}

[data-theme=dark] [data-msg=info] {
    --msg-background: #032830;
}

li[aria-current] {
    --background-color: var(--primary-focus);
}

button[data-inline] {
    display: inline;
    width: auto;
}

[data-msg] + fieldset {
    margin-top: var(--spacing);
}
